.res {
  background-color: #ffffffcb;
  /* margin: 15px; */
  width: 328px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 15px;
  position: relative;
}

.res-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.res-image {
  width: auto;
  height: 130px;
  overflow: hidden;
}
.res-image img {
  width: 100%;
  height: 100%;
  transition: all 0.25s linear;
}
.res-image img:hover {
  transform: scale(1.2);
}

.res-info {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0 10px;
}

.info-btn {
  background-color: orange;
  width: 60px;
  height: 25px;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  box-shadow: 1px 1px #888888a4;
}

.res-info div {
  display: flex;
  gap: 5px;
}

.edit-btn,
.detail-btn {
  background-color: rgba(255, 228, 196, 0.766);
  width: 50px;
  height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 1px 1px #888888a4;
}
.detail-btn:hover {
  background-color: bisque;
}

.res-delete {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: orange;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
}

.disable {
  pointer-events: none;
  background-color: #dddddd75;
}
