.homeContainer {
  /* padding-top: 60px; */
}

.listRes {
  height: calc(100vh - 60px);
  /* margin-left: 10vw; */
  /* margin-right: 10vw; */
  display: grid;
  grid-template-columns: auto auto auto;
  overflow: auto;
  padding: 0 180px;
}
/* .listDish::-webkit-scrollbar {
  width: 0 !important;
  display: none;
} */

.ress {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 328px; */
  /* height: 250px; */
  margin: 15px;
}
